<div class="container-fluid border">

  <div class="header">
      <a class="phone" href=”tel:+79811663956”>+7 (981) 166-39-56</a>
    <a href="#default" class="logo">CompanyLogo</a>
  </div> 

  <div class="">
  </div>





  <h1>Pages#alt2</h1>
  <p>Find me in app/views/pages/main.html.erb</p>


  <div>
    <p> about us </p>
  </div>



  
  <% @images.each do |product, images| %>

  <div class="card w-auto mb-3">

    <style type="text/css">
      #<%=product%> {
        grid-template-columns: repeat(<%= images.size %>, 60vw);
      }
    </style>
    <ul class="gallery" id=<%= product %>>
      <% images.each do |image| %>
        <li>
          <%= image_tag image, class: 'img-fluid', alt: '...' %>
        </li>
      <% end %>
    </ul>

    <div class="card-body">

      <h1> 
        <%= product %> 
      </h1>
      <h5 class="card-title">
        Card title
      </h5>
      
      <h6 class="card-subtitle mb-2 text-muted">
        Card subtitle
      </h6>
      
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
      
      <%= render 'shops' %>
    </div>
  </div>
<% end %>


<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Contacts</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A709b9b91976a0d58d0b1af3bec6ad1b1ba1613a0d2abfef9599228056738285f&amp;width=100%25&amp;height=322&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>



</div>







  <div>
    <p> Product 2 </p>
  </div>

  <div>
    <p> Product 3 </p>
  </div>

  <div>
    <p> Product 4 </p>
  </div>

  <div>
    <p> Product 5 </p>
  </div>

  <div>
    <p> Product 6 </p>
  </div>

</div>


